{%  extends 'diario\base.html' %}


{% block style %}
    nav a:nth-child(1) {
        color: black;
        font-weight: 600;
    }
{% endblock %}

{% block main %}

    <h1>MentHA Care</h1>

    <p>Grupos</p>
    <ul>
        {% for grupo in grupos %}
        <li>
            Nome: {{ grupo }}:
            <ul>
                <li>
                    {% if grupo.mentores.all.count == 1 %}
                    Mentor:
                    {% else %}
                    Mentores:
                    {% endif %}
                    <ul>
                        {% for mentor in grupo.mentores.all %}
                        <li>{{ mentor }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    Participantes:
                    <ul>
                        {% for cuidador in grupo.cuidadores.all %}
                        <li> {{ cuidador }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>

    {% endblock %}
