<!--<script>-->
<!--   -->
<!--  function myFunction() {-->
<!--  var x = document.getElementById("observations-container");-->
<!--  if (x.style.display === "none") {-->
<!--    x.style.display = "block";-->
<!--  } else {-->
<!--    x.style.display = "none";-->
<!--  }-->
<!--}-->
<!--</script>-->

<div id="notas">
    <!-- https://code-boxx.com/post-form-data-javascript-fetch/ -->

    <form id="notaForm" onsubmit='return sendForm({{ participante_id }}, "notaForm");' method="post">
        {% csrf_token %}
        {{ notaForm.nota }}
        <input type="hidden" name="participante" value={{ participante_id }}>
        <button type="submit" name="cancel">Cancelar nota</button>

        <button type="submit" name="nota">Guardar nota</button>

    </form>
    <ul>
        {% if notas|length > 0 %}
        {% for nota in notas %}
        <li>{{ nota }} <span class="data">{{ nota.data }}</span></li>
        {% endfor %}
        {% else %}
        <li>Sem notas</li>
        {% endif %}
    </ul>

</div>

<div id="partilhas">


    <form id="partilhaForm" onsubmit='return sendForm({{ participante_id }}, "partilhaForm");' method="post">
        {% csrf_token %}
        {{ partilhaForm.partilha }}
        <input type="hidden" name="participante" value={{ participante_id }}>
        <button type="submit" name="partilha">Guardar partilha</button>
    </form>

    <ul>
        {% if partilhas|length > 0 %}
        {% for partilha in partilhas %}
        <li>{{ partilha }} <span class="data">{{ partilha.data }}</span></li>
        {% endfor %}
        {% else %}
        <li>Sem partilhas</li>
        {% endif %}
    </ul>

</div>

<div id="respostas">

    <h1>Respostas do Participantes </h1>

</div>


<div id="informacoes">

    <div class="detail-info-container" id="information-container"  onclick="myFunction()">
        <div class="titulo">Informação</div>
        <div class="infos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>

    <div class="detail-info-container" id="materials-container"  onclick="myFunction()">
        <div class="titulo">Materiais</div>
        <div class="infos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>

    <div class="detail-info-container" id="observations-container"  onclick="myFunction()">
        <div class="titulo">Observações</div>
        <div class="infos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>


</div>
