<style>
table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
</style>
<div id="notas">
    <!-- https://code-boxx.com/post-form-data-javascript-fetch/ -->

    <h2><b>Nova nota:</b></h2>
    <input type="checkbox" id="vehicle" name="escolha" value="atividadde">
    <label for="vehicle1">Atividade</label>
    <input type="checkbox" id="vehicle1" name="escolha" value="geral">
    <label for="vehicle1">Geral</label>

     <form id="notaForm" onsubmit='return sendForm({{ grupo_id }}, "notaForm");' method="post">
        {% csrf_token %}
        {{ notaForm.nota }}
        <input type="hidden" name="grupo" value={{ grupo_id }}>
         <button type="submit"  name="cancel">Cancelar nota</button>

         <button type="submit" name="nota">Guardar nota</button>

    </form>
    <hr>
    <h2><b>Lista das notas de grupo  {{grupo_id}}</b></h2>

    <ul>
        {% if notasGrupo|length > 0 %}
            {% for nota in notasGrupo %}
                <li> {{ nota.grupo }} </li>
                <li>{{ nota }} </li>
            {% endfor %}
        {% else %}
            <li>Sem notas</li>
        {% endif %}
    </ul>


</div>

<div id="partilhas">

     <h1>partilhas do grupo {{ grupo_id }}</h1>
      <form id="partilhaForm" onsubmit='return sendForm({{ grupo_id }}, "partilhaGrupoForm");' method="post">
        {% csrf_token %}
        {{ partilhaGrupoForm.partilha }}
        <input type="hidden" name="grupo" value={{ grupo_id }}>
        <button type="submit" name="partilha">Guardar partilha</button>
    </form>

    <ul>
        {% if partilhas|length > 0 %}
        {% for partilha in partilhas %}
        <li>{{ partilha }} <span class="data">{{ partilha.data }}</span></li>
        {% endfor %}
        {% else %}
        <li>Sem partilhas</li>
        {% endif %}
    </ul>
</div>

<div id="presencas" >
<!--    <h1>Presenças do grupo {{ grupo_id }}</h1>-->
<!--    <p>Grupos</p>-->
    <table border="3" >
        <tr>
            <th>Participantes</th>
            <th>Online</th>
            <th>Presencial</th>
            <th>Modo de resposta <br>
            Caderno  &nbsp;&nbsp;  App</th>
<!--            <th>Caderno</th>-->
        </tr>
    <ul>
        {% for grup in participantes %}
        <li>
            <td>{{grup}}</td>
            <td>
                <input type="checkbox" id="vehicl1" name="escolha" value="geral">
            <td>
                <input type="checkbox" id="vehicl2" name="escolha1" value="geral1">
            </td>
            <td>
                <input type="checkbox" id="vehicl3" name="escolha2" value="geral2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="vehicl4" name="escolha3" value="geral3">
            </td>
<!--            <td>-->
<!--                <input type="checkbox" id="vehicl4" name="escolhA3" value="geral3">-->
<!--            </td>-->
<!--            <input type="checkbox" id="vehicl" name="escolha" value="geral">-->
<!--            <label for="vehicl">Geral</label>-->
<!--            <input type="checkbox" id="vehic" name="escolha" value="geral">-->
<!--            <label for="vehic">Geral</label>-->
<!--            <input type="checkbox" id="vehil" name="escolha" value="geral">-->
<!--            <label for="vehil">Geral</label>-->
<!--            <input type="checkbox" id="vehi" name="escolha" value="geral">-->
<!--            <label for="vehi">Geral</label>-->
<!--            <input type="checkbox" id="veh" name="escolha" value="geral">-->
<!--            <label for="veh">Geral</label>-->
        </li>
    </ul>
</table>

        {% endfor %}

        <form id="presencaForm" onsubmit='return sendForm({{ grupo_id }}, "presencaGrupoForm");' method="post">
        {% csrf_token %}
        {{ presencaGrupoForm.presenca }}
        <input type="hidden" name="grupo" value={{ grupo_id }}>
        <button type="submit" name="cancel">Cancelar registo presença</button>
        <button type="submit" name="partilha">Guardar registo presença</button>
    </form>
<!--    <ul>-->
<!--        {% for grup in participantes %}-->
<!--            {% if grup_id == grupo_id %}-->
<!--                <li>-->
<!--                    {{grup}}-->

<!--                </li>-->
<!--            {% else %}-->
<!--                <li>Sem participantes</li>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->
<!--    </ul>-->


<!--    </form>-->
</div>

<div id="respostas">

     <h1>Respostas do grupo {{ grupo_id }}</h1>


</div>

<div id="informacoes">

     <div class="detail-info-container" id="information-container"  onclick="myFunction()">
        <div class="titulo">Info</div>
        <div class="infos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>

    <div class="detail-info-container" id="materials-container"  onclick="myFunction()">
        <div class="titulo">Info</div>
        <div class="infos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>

    <div class="detail-info-container" id="observations-container"  onclick="myFunction()">
        <div class="titulo">Info</div>
        <div class="infos">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </div>
    </div>
</div>